.wrap{
    padding: 0px;
    margin: 0px;
    // 顶部
    .topbar{
        height: 120px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        overflow: hidden;
        zoom: 1;
        min-width: 1280px;
        width: 100%;
        margin: 0 auto;
        .lor_top{
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1;
            min-width: 1280px;
            width: 100%;
            height: 75px;
            overflow: 9999;
            background: #090909;
            // background-color: orange;
            .lor_topLogo{
                margin: 19px 0 0 50px;
                width: 297px;
                height: 39px;
                position: relative;
                float: left;
                // background-color: orange;
                display: inline;
                a{
                    background-color: pink;
                    // position: absolute;
                    // left: 0;
                    // top: 0;
                    display: block;
                    width: 297px;
                    height: 39px;
                    z-index: 1;
                    background: url(../images/shopico.png) no-repeat;
                    background-position: -2px -147px;
                }
            }
        }
        .lor_top_right{
            float: right;
            display: inline;
            margin: 22px 25px 0 0;
            height: 38px;
            line-height: 30px;
            color: #a1a1a1;
            position: relative;
            font-size: 14px;
            z-index: 1; 
            .login_bar{
                float: right;
                display: inline;
                margin: 22px 25px 0 0;
                height: 38px;
                line-height: 30px;
                color: #a1a1a1;
                position: relative;
                font-size: 14px;
                z-index: 1   ;
                .loginqq{
                    cursor: pointer;
                    display: block;
                    color: #a1a1a1;
                    float: left;
                    padding-right: 20px;
                    position: relative;
                    z-index: 3;
                }  
                // 购物车
                .menu-cart{
                    cursor: pointer;
                    color: #a1a1a1;
                    float: left;
                    padding-right: 20px;
                    display: block;
                    width: 150px;
                    position: relative;
                    z-index: 2;  
                    i{
                        margin: 3px 4px 0 0;
                        display: block;
                        width: 28px;
                        height: 25px;
                        background: url(../images/shopico.png) no-repeat -2px -13px;                   
                    }   
                    .mtxt{
                        position: relative;
                        left: 38px;
                        top: -26px;
                        display: block;
                        float: left;
                        padding-right: 6px; 
                        line-height: 30px;
                        cursor: pointer;
                        font-size: 14px;
                        color: #a1a1a1;                
                    }  
                    .num{
                        display: block;
                        position: relative;
                        left: 87px;
                        top: -20px;
                        color: #fff;
                        width: 20px;
                        height: 20px;
                        background: url(../images/shopico.png) no-repeat -2px -287px;
                    }   
                    em{
                        display: block;
                        color: #fff;
                        position: relative;
                        left: 82px;
                        top: -55px;
                        width: 30px;
                        height: 30px;
                        text-align: center;
                    }   
                } 
                .lingqu{
                    cursor: pointer;
                    color: #a1a1a1;
                    float: right;
                    padding-right: 20px;
                    display: block;
                    position: relative;
                    left: 41px;
                    z-index: 2;
                    i{
                        position: relative;
                        left: -157px;
                        top: 0;
                        margin: 5px 4px 0 0;
                        display: block;
                        width: 20px;
                        height: 20px;
                        background: url(../images/shopico.png) no-repeat -36px -385px;
                    }
                    span{
                        position: relative;
                        left: -125px;
                         top: -23px;
                    }

                } 
                .weixin{
                    padding-right: 28px;
                    height: auto;
                    position: relative;
                    left: 53px;
                    cursor: pointer;  
                    float: right;
                    display: inline; 
                    i{
                        position: relative;
                        left: 21px;
                        top: 2px;
                        margin: 5px 4px 0 0;
                        display: block;
                        width: 20px;
                        height: 20px;
                        background: url(../images/shopico.png) no-repeat -2px -42px;
                    }     
                    span{
                        position: relative;
                        left: 50px;
                        top: -23px;
                    }        
                }
            }
        }
        // 头部导航
        .menu_bar{
            position: fixed;
            top: 75px;
            left: 0;
            z-index: -1;
            margin: 0 auto;
            min-width: 1240px;
            width: 100%;
            height: 45px;
            background: #202020;
            .blk_nav{
                margin: 0 20px;
                line-height: 45px;
                height: 45px;
                color: #fff;
                font-size: 14px;
                float: left;
                display: inline;
                li{
                    float: left;
                    padding: 0;
                    position: relative;
                    width: 122px;
                    text-align: center;
                    a{
                        display: block;
                        width: 100%;
                        height: 45px;
                        padding: 0;
                        color: #fff;
                        font-size: 18px;                    
                    }
                    .hot{
                        position: absolute;
                        top: 16px;
                        right: -6px;
                        z-index: 2;
                        width: 28px;
                        height: 14px;
                        display: block;
                        background: url(../images/shophot.png);
                    }
                    .new{
                        position: absolute;
                        top: 16px;
                        right: -6px;
                        z-index: 2;
                        width: 28px;
                        height: 14px;
                        display: block;
                        background: url(../images/shopnew.png)
                    }
                    .submenu1{
                        position: absolute;
                        top: 45px;
                        left: -23px;
                        z-index: 100;
                        width: 188px;
                        min-height: 120px;
                        height: auto;
                        background: #181a20;
                        border-top: 3px solid #f94915;
                        overflow: hidden;
                        display: none;
                        ul{
                            padding: 12px 0 10px 15px;
                            width: 85px;
                            height: auto;
                            overflow: hidden; 
                            float: left;
                            //  display: inline; 
                            li{
                                padding: 0;
                                width: 100%;
                                height: 24px;
                                line-height: 24px;
                                text-align: left;
                                a{
                                    display: block;
                                    width: 100%;
                                    height: 45px;
                                    padding: 0;
                                    color: #fff;
                                    font-size: 14px; 

                                }
                            }  
                            li a:hover{
                                color: orangered;
                            }                
                        }
                        .submenu1-pic{
                            position: absolute;
                            top: 50%;
                            right: 16px;
                            margin-top: -40.5px;
                            width: 81px;
                            height: 81px;
                            overflow: hidden;
                            display: block;
                            img{
                                width: 81px;
                                height: 81px;
                                background: none;
                            }
                        }
                    }
                }
             
                li:hover .submenu1{
                    display: block;
                }
                li:hover a{
                    color: orangered;
                }
            }
        }

    }
}

// 内容
.usmainBar{
        /* background: #FFF; */
        height: auto;
        padding-top: 120px;
        *padding-top: 158px;
        min-width: 1280px;
        width: 100%;
        margin: 0 auto;
        overflow: auto;
        // 轮播图
        #main_looper{
            position: relative;
            margin: 0 auto;
            height: 636px;
            // height: auto;
            min-width: 1240px;
            width: 100%;
            overflow: hidden;
            ul{
                margin: 0 auto;
                min-height: 636px;
                height: auto;
                min-width: 1240px;
                width: 100%;
                overflow: hidden;
                clear: both;
                position: relative;
                background: #202020;
                padding: 0;
                overflow: hidden;
                li{
                    margin: 0 auto;
                    min-height: 424px;
                    height: auto;
                    min-width: 1240px;
                    width: 100%;
                    a{
                        display: block;
                        margin: 0 auto;
                        min-height: 424px;
                        height: auto;
                        min-width: 1240px;
                        width: 100%;   
                        img{
                            margin: 0 auto;
                            min-height: 636px;
                            height: auto;
                            min-width: 1240px;
                            width: 100%;
                            vertical-align: bottom;
                            font-size: 0;
                            border: 0;
                        } 
                    }               
                }
            }
            ol{
                position: absolute;
                bottom: 0;
                width: 112px;
                margin-left: -56px;
                z-index: 69;
                height: 38px;
                overflow: hidden;
                position: absolute;
                bottom: 0px;
                left: 50%;
                text-align: center;
                li{
                    margin: 0 7px;
                    display: block;
                    float: left;
                    width: 14px;
                    height: 14px;
                    cursor: pointer;  
                    border-radius: 50%;
                    background-color: #fff;             
                }
                .active{
                    background-color: orangered;
                }
            }
        }
        // 商品展示
        .index-goods-list{
            margin: 0 auto;
            min-height: 193px;
            height: auto;
            min-width: 1240px;
            width: 100%;
            zoom: 1;
            overflow: hidden;   
            li{
                width: 25%;         
                float: left;
                min-height: 193px;
                height: auto;
                text-align: center;
                zoom: 1;
                a{
                    display: block;
                    margin: 0px auto;
                    width: 100%;
                    min-height: 193px;
                    height: auto;
                    font-size: 16px;
                    text-decoration: none;
                    color: #333; 
                }
                p{
                    width: 100%;
                    height: 45px;
                    line-height: 35px;
                    text-align: center;
                    font-size: 15px;
                    font-weight: bold;
                    color: #222;
                }
            }    
        }

}

// 底部
.bottom{
	min-width: 1280px;
	height: 500px;
	// background-color: pink;
	.bottomShop{
		position: relative;
		width: 1190px;
		height: 402px;
		margin: 0px auto;	
		// background-color: orange;
		.serverBar{
			padding-top: 28px;
			background: #fff;
			height: 70px;
			width: 1190px;
			margin: 0px auto;
			ul{
				padding-left: 110px;
				width: 940px;
				margin: 0px auto;
				li{
					float: left;
					.fw1{
						display: block;
						width: 42px;
						height: 52px;
						float: left;
						background:url(../images/shopcion.png) no-repeat -10px -234px ;				
					}
					.fw2{
						display: block;
						width: 42px;
						height: 52px;
						float: left;
						background:url(../images/shopcion.png) no-repeat -73px -234px ;						
					}
					.fw3{
						display: block;
						width: 42px;
						height: 52px;
						float: left;
						background:url(../images/shopcion.png) no-repeat -179px -234px ;						
					}
					a{
						width: 240px;
						display: block;
						line-height: 52px;
						height: 52px;
						float: left;
						color: #222;
						font-size: 14px;
						cursor: default;					
					}
				}
			}
		}
		.shopHelp{
			position: absolute;
			left: -346px;
			top: 105px;
			width: 1870px;
			margin: 0px auto;
			height: auto;
			min-height: 200px;
			background-color: #e9e9e9;
			ul{
				padding-left: 350px;
				margin-top: 20px;
				color: #666;
				li{
					width: 266px;
					height: 166px;
					float: left;
					padding-top: 4px;
					padding-left: 16px;
					h3{
						color: #000;
						display: block;
						line-height: 30px;
						font-size: 16px;
						// color: #d6d6d6;
						font-weight: normal;					
					}
					a{
						text-indent: 10px;
						font-size: 12px;
						color: #666;
						display: block;
						line-height: 28px;
					}
				}			
			}

		}
		.bottomLink{
			position: absolute;
			top: 340px;
			left: -47px;
			border-top: 1px solid #e9e9e9;
			border-bottom: 1px solid #e9e9e9;
			margin-top: 25px;
			text-align: center;
			width: 1190px;
			margin: 0px auto;
			height: auto;		
			a{
				color: #666;
				padding-right: 20px;
    			line-height: 40px
			}	
		}
		.foot{
			position: absolute;
			top: 400px;
    		left: 127px;
			width: 855px;
			height: auto;
			margin: 20px auto 20px;
			line-height: 20px;	
			.foot-logo{
				background: url(../images/shopcion.png) no-repeat -10px -290px;
   			 	width: 246px;
    			height: 46px;
				border-right: #e9e9e9 solid 1px;
			}	
			.copyright{
				position: absolute;
				left: 249px;
				top: 0;
				width: 470px;
				height: 40px;
				margin: 4px 0 0 16px;
				color: #666;			
			}
			a{
				position: absolute;
				left: 741px;
				top: 0;
				display: block;
				width: 117px;
				height: 50px;
				background: url(../images/copy.png) no-repeat;			
			}
		}
	}
}


// 登录

#login{
	display: none;
	opacity: 1 !important;
	border: 1px solid #ccc;
	width: 500px;
	height:400x;
	background: #fff;
	border-radius: 5px;
	position: fixed;
	top: 300px;
	left: 631px;
	z-index: 20;
	padding-top: 30px;
	padding-bottom: 50px;
	// text-align: center;
	h3{
	
		font-size: 25px;
		color: #000;
		font-weight: 400;
		margin-bottom: 30px;
		margin-left: 180px;
	}
	input{
		border: 1px solid #ccc;
		padding-left: 20px;
		display: block;
		width: 300px;
		height: 50px;
		margin: 20px auto;
		
	}
	#log_btn{
		position: absolute;
		bottom: 30px;
		left: 0;
		border: 1px solid #ccc;
		margin-left: 180px;
		// margin-top: 50px;
		width: 150px;
		height: 50px;
		color: #fff;
		font-size: 20px;
		background-color: rgb(54, 160, 52);
	}
	.close{
		font-size: 26px;
		width: 20px;
		height: 20px;
		position: absolute;
		top: 0;
		right: 10px;
		color: gray;
		cursor: pointer;
	}
	.reg{
		position: absolute;
		bottom: 10px;
		right: 10px;
		margin-top: 100px;
		font-size: 14px;
		cursor: pointer;
	}
	.nameSpan,.pwdSpan{
		display: none;
		height: 10px;
		margin-left: 100px;
		color: red;

	}
	.null{
		width: 200px;
		height: 50px;
	}
}

